body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.headerFlex {
    top: 0;
    width: 100%;
    position: fixed;
}
header {
    padding-right: 100px;
    padding-left: 100px;
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
    
}
.headerSocial {
    width: 150px;
    display: flex;
    gap: 20px;
    justify-content: left;
}
.headerSocial a img {
    height: 20px;
}
header h1{
    font-family: 'Yatra One', cursive;
    font-size: 100px;
}
header h1 span {
    color: rgb(221, 100, 100);
}
.headerSearch{
    width: 40px;
    height: 40px;
    background-color: rgb(221, 100, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    /* box-shadow: 3px 1px 1px 15px rgb(221, 100, 100); */
    box-shadow: 2px 3px 15px 1px rgb(221, 100, 100);
}
.headerSearch a img {
    height: 20px;
}
.links {
    width: 100%;

    height: 50px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: white;
}
.links a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}
.links a:hover {
    color: rgb(221, 100, 100);
}
.links a span img {
    width: 16px;
    font-weight: bold;
    
}